recipe_website/*! CSS adapted from  type theme */
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    background: #fff;
}

div.branding {
    margin:0 auto;
    max-width: 650px;
    min-width: 300px;
    padding: 40px 40px 0 40px;
    text-align:left;
    font-family:arial;
    background-color:white;
}

div.content {
    margin:0 auto;
    max-width: 650px;
    min-width: 300px;
    padding: 40px;
    text-align:left;
    font-family:arial;
    background-color:white;
}

.post-content h1, .excerpt h1 {
    display:none;
}

img {
    max-width: 80%;
    min-width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1.title {
    font-size:2em;
}

article, aside, details, figcaption, figure, footer, header, hgroup,
main, menu, nav, section, summary {
    display: block;
}

body {
    font-family: "Source Sans Pro", "Trebuchet MS", Helvetica, Arial, sans-serif;
    margin: 30px;
	  background-color: #c69050;
    font-family:arial;
    font-size: 90%;
}

h1.site-title {
    font-size: 5em;
    text-align: center;
    font-family: "Bitter";
    margin-bottom: 0px;
}

img.cover {
  width: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


blockquote {

}


table {

}

td, th {

}

h2 {
    font-variant: small-caps;
}


p, ol, ul {
    line-height: 1.5;
    margin-bottom: 1em;
    text-align:left;
	  font-family:arial;
	  font-size: 90%
}


hr {
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid #fff;
    margin: 1em 0;
}

a {
    color: black;
    text-decoration: none
}

body.recipeshome header.site-header {
    display: none;
}

/* for a menu for all recipes */
ul.recipes {
    border: 1px solid gray;
    background-color: white;
    width: 20%;
    float:right;
    font-size: 60%;
    position: fixed;
    top:15px;
    right:8px;
    -webkit-box-shadow: 0px 0px 15px 4px rgba(0,0,0,0.53);
    box-shadow: 0px 0px 15px 4px rgba(0,0,0,0.53);
}

ul.recipes li, ul.recipes a {
    text-indent:none;
    list-style: none;
    margin-left: 0;
}

@media only screen and (max-width: 600px) {
  body.recipeshome .content {
    width: 90%;
    padding:0;
    margin:0px auto;
    background-color: none;
  }

  body {
    background-color: white;
  }
}
