recipe_website/*! CSS adapted from  type theme */
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    background: #fff;
}

div.branding {
  margin:0 auto;
  max-width: 650px;
  min-width: 300px;
  padding: 40px 40px 0 40px;
  text-align:left;
  font-family:arial;
  font-size: 90%;
  background-color:white;
}

div.content {
  margin:0 auto;
  max-width: 650px;
  min-width: 300px;
  padding: 40px;
  text-align:left;
  font-family:arial;
  font-size: 90%;
  background-color:white;
}

.post-content h1, .excerpt h1 {
  display:none;
}

img {
}

h1.title {
  font-size:2em;
  font-variant: small-caps;
}

article, aside, details, figcaption, figure, footer, header, hgroup,
main, menu, nav, section, summary {
    display: block;
}

body {
    font-family: "Source Sans Pro", "Trebuchet MS", Helvetica, Arial, sans-serif;
    margin: 30px;
	  background-color: #c69050;
    font-family:arial;
    font-size: 90%;
}

h1.site-title {
  font-size: 5em;
  text-align: center;
  font-family: "Bitter";
  margin-bottom: 0px;
}

img.cover {
float:right;
width:30%;
margin:12px;
}


blockquote {

}


table {

}

td, th {

}

h2 {
  font-variant: small-caps;
}


p, ol, ul {
    line-height: 1.5;
    margin-bottom: 1em;
    text-align:left;
	  font-family:arial;
	  font-size: 90%
}


hr {
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid #fff;
    margin: 1em 0;
}

a {
    color: black;
    text-decoration: none
}

/* for a menu for all recipes */
ul.recipes {
  border: 1px solid gray;
  width: 15%;
  float:right;
  font-size: 60%;
  position: absolute;
  top:40px;
  right:20px;
}
