recipe_website/*! CSS adapted from  type theme */
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    background: #fff;
}

div.branding {
    margin:0 auto;
    max-width: 650px;
    min-width: 300px;
    padding: 40px;
    text-align:left;
    font-family:arial;
    font-size: 90%;
    background-color:white;
}

.content {
    margin:0 auto;
    max-width: 650px;
    min-width: 300px;
    padding: 40px;
    text-align:left;
    font-family:arial;
    font-size: 100%;
    background-color:white;
}

.post-content h1, .excerpt h1 {
    display:none;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

h1.title {
    font-size:2em;
}

article, aside, details, figcaption, figure, footer, header, hgroup,
main, menu, nav, section, summary {
    display: block;
}

body {
    font-family: "Source Sans Pro", "Trebuchet MS", Helvetica, Arial, sans-serif;
    margin: 30px;
	  background-color: #c69050;
    font-family:arial;
    font-size: 100%;
}

h1.site-title {
    font-size: 5em;
    text-align: center;
    font-family: "Bitter";
    margin-bottom: 0px;
}

img.cover {
  max-width: 450px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


blockquote {

}


table {

}

td, th {

}

h2 {
    font-variant: small-caps;
}


p, ol, ul {
    line-height: 1.5;
    margin-bottom: 1em;
    text-align:left;
	  font-family:arial;
	  font-size: 90%
}


hr {
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid #fff;
    margin: 1em 0;
}

a {
    color: black;
    text-decoration: none;
    font-size: 120%;
}

body.recipeshome header.site-header {
    display: none;
}

/* for a menu for all recipes */
ul.recipes {
    border: 1px solid gray;
    background-color: white;
    width: 15%;
    float:right;
    font-size: 60%;
    position: fixed;
    top:10px;
    right:8px;
    -webkit-box-shadow: 0px 0px 15px 4px rgba(0,0,0,0.53);
    box-shadow: 0px 0px 15px 4px rgba(0,0,0,0.53);
}

ul.recipes li, ul.recipes a {
    text-indent:none;
    list-style: none;
    margin-left: 0;
}

@media screen and (max-width:600px) {

    body.recipeshome .content {
      width: 80%;
      padding: 10px;
      margin: 0px auto;
      text-align: justify;
    }

    body.recipeslist .h1 {
      font-size: 100%;
    }

    body {
      background-color: white;
      margin:0;
    }

    body.recipe .branding {
      background-color: #c69050;
      margin: 0;
      padding: 20px;
    }

    body.recipelist .branding {
      background-color: #c69050;
      margin: 0;
      padding: 20px;
    }

    body.recipe .content {
      width: 90%;
      padding: 0;
      margin: 0px auto;
      border: none;
      background-color: none;
      display: block;
      text-align: justify;
    }

    body.recipe {
      font-size: 80%;
      text-align: justify;
    }

    img.cover {
      max-width: 600px;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

}
